h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea{
    font-weight: 400;
}
.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn){
    color: #333333;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-size: 14px;
}
.navbar .navbar-nav .nav-item .nav-link  svg{
    margin-right: 10px;
}
.container-fluid-80 {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body{
    padding-top: 80px;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}
.section{
    padding:30px 0;
}
.w-100{
    width: 100%;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.social-item-top img {
    margin-top: -5px;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.align-center{
    align-items: center;
}

.logo{
    height: 50px;
    display: inline-block;
    float: left;
}
.description{
    color: #333333;
}
.p-absolute {
    position: absolute;
}


.section-title{
    font-weight: 500;
    text-transform: uppercase;
}
/* Header section*/
.header-right-content{
    padding-left: 100px;
}
.home-header .summaries{
    float: left;
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.home-header .stats-item{
    font-weight: bold;
}
.home-header .stats-item .stats-count{
    font-size: 80px;
}
.home-header .stats-item .stats-text{
    font-weight: bold !important;
}
.home-header .header-big-logo{
    margin-bottom: 50px;
}
.home-header .header-right-logo{
    margin-bottom: 50px;
}
.home-header{
    margin-top: 100px;
}
.home-header .img-1 {
    height: 100%;
    left: 0;
    top: 11rem;
    z-index: -1;
}
.home-header .img-2 {
    right: 0;
    height: 100%;
    z-index: -1;
}
.contact-button
{
    float: left;
    display: block;
    margin-top: 10px;
    width: 100%;
}
/*Home section first*/
.ps-relative{
    position: relative;
}
.b-1 {
    bottom: -4rem;
    left: 8rem;
}
.bubble {
    width: 1.625rem;
    height: 1.625rem;
    position: absolute;
    z-index: 3;
}
.img-3 {
    left: -10rem;
    height: 44rem;
    transform: translateY(-25%);
    z-index: -1;
}
.home-group-first {
    margin-top: 30px;
}
.home-group-first .group-first-header{
    
}
.group-first-header-line{
    float: left;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.home-group-first .right-content .content-header{
    font-weight: 600;
    font-size: 40px;
}
.right-content .info .num-layout{
    font-size: 30px;
}

/*Section Second*/

.content-header{
    font-weight: 600;
    font-size: 40px;
}
.left-content .info .num-layout{
    font-size: 30px;
}
/*Section All Groups*/

.all-fb-groups .groups-title {
    font-weight: 600;
}
.left-content .info .num-layout{
    font-size: 30px;
}
/*Section services*/
.all-services .service-item {
    display: block;
    float: left;
    vertical-align: center;
}
.sv-image{
    width: 100%;
    float: left;
    display: block;
    min-height: 100px;
}
.service-item .service-item-title {
    display: block;
    font-weight: bolder;
    font-size: 18px;
    color: #015901;
}
/*Section partners*/
.all-partners .partner-item {
    display: block;
    float: left;
    vertical-align: center;
}
.all-partners .partner-item img {
    width: 60% !important;
}
    /*Section contact form*/
.section-contact .contact-info{
    border: 1px dashed #015901;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    float: left;
    display: block;
    width: 100%;
}
.section-contact .contact-info .item-block{
    display: block;
    float: left;
    width: 100%;
}
.section-contact .contact-info .info-title{
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #015901;
    padding-bottom: 10px;
}
.section-contact .contact-info .item-block h5{
    font-weight: 400;
}
.section-contact .contact-info .item-block{
    margin-bottom: 20px;
}
#contact-form label{
    margin-top: 15px;
}
.message-warning, .message-success{
    margin-top: 10px;
    display: none;
}
.footer{
    padding-top: 20px;
    background: #015901;
    color: whitesmoke;
}
.footer a{
    color: whitesmoke;
}
.footer-item-title{
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    margin-top: 0;
}
.footer .socials .social-item{
    color: whitesmoke;
    padding: 0 10px 0 0;
    margin: 0 auto;
    float: left;
    display: inline-block;
}
.footer .copyright{
    color: whitesmoke;
    font-size: 14px;
}
.medium-article, .large-article {
    margin-bottom: 30px;
}
.large-article , .medium-article{
    box-shadow: 0px 0px 6px 0px #a5a5a5;
    cursor: pointer;
    border-radius: 10px;
}
.large-article-content {
    padding: 15px;
}
.medium-article-content{
    padding: 14px 0 0 15px;
}

/********* Responsive *********/
/* (1) Màn hình nhỏ để đứng (phones, 600px và nhỏ hơn) */
@media only screen and (max-width: 600px) {
    .section-title{
        font-size: 26px;
        font-weight: 500;
    }
    .group-first-header-line {
        margin-top: 5px !important;
    }
    .service-item{
        margin-bottom: 20px;
    }
    .partner-item{
        min-height: 100px;
    }
    .all-partners .partner-item img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

/* (2) Màn hình nhỏ để ngang(phones 600px và lớn hơn) */
@media only screen and (min-width: 600px) {
    
}

/* (3) Màn hình cỡ thường để đứng (tablets, 768px và lớn hơn) */
@media only screen and (min-width: 768px) {
    
}

/* (4) Màn hình lớn (laptops/desktops, 992px và lớn hơn) */
@media only screen and (min-width: 992px) {
    
}

/* (5) Màn hình lớn với độ phân giải cao (màn hình 1200px, 2k, 4k, 8k và lớn hơn) */
@media only screen and (min-width: 1200px) {
    
}

@media only screen and (max-width: 480px) {
    .f-item {
        margin-top: 20px;
    }
    .header-right-content{
        padding-left: 15px;
    }
}
@media only screen and (max-width: 992px) {
    .img-1, .img-2, .img-3 { display: none !important;}
    
     .group-first-header-line img  {
        max-width: 100%;
    }
}