@inherits UmbracoViewPage<ContactViewModel>

@using GdlCms.Web.ViewModels;
@using GdlCms.Web.Controllers;
@{
    var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<div id="form-outer">

    @using (Ajax.BeginForm("SubmitForm", "ContactSurface", new AjaxOptions()
    {
        UpdateTargetId = "form-result",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "contactForm.showResult",
        OnFailure = "contactForm.showResult"
    }, new { id = "contact-form" }))
    {
        @Html.HiddenFor(m => m.ContactFormId)

        <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
            <div class="row">
                <div class="col-md-6">
                    <label>Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-single-02"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", name = "contactName", type = "text", id = "contactName", placeholder = (currentCulture.Contains("en") ? "Your Name" : "Họ và tên"), value = "", minlength = "2" })
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "contactEmail", type = "email", id = "contactEmail", placeholder = "Email", value = "" })
                    </div>
                </div>
            </div>
            <label>Message</label>
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", name = "contactMessage", id = "contactMessage", placeholder = (currentCulture.Contains("en") ? "Your Message" : "Nội dung"), rows = "4" })
            <div class="row mt-20">
                <div class="col-md-4 ml-auto mr-auto">
                    <button type="submit" class="btn btn-danger btn-lg btn-fill">Send Message</button>
                </div>
            </div>

        </form>
    }
</div>