@inherits UmbracoViewPage<ContactViewModel>
@using GdlCms.Web.ViewModels;

<html><head></head><body><div class="canvas" style="height: auto; width: auto;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;background-color:#F9F9F9;" id="bodyTable">
<tbody><tr>
    <td align="center" valign="top" style="padding-right:10px;padding-left:10px;" id="bodyCell">
    <!--[if (gte mso 9)|(IE)]><table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px;" width="600"><tr><td align="center" valign="top"><![endif]-->

    <!-- Email Wrapper Webview Open //-->
    
    <!-- Email Wrapper Webview Close //-->

    <!-- Email Wrapper Header Open //-->
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%" class="wrapperWebview">
        <tbody><tr>
            <td align="center" valign="top">
                <!-- Content Table Open // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                        <td align="center" valign="middle" style="padding-top: 40px; padding-bottom: 40px;" class="emailLogo">
                            <!-- Logo and Link // -->
                            <a href="#" target="_blank" style="text-decoration:none;">
                                <img src="https://i.imgur.com/oj8cKLS.png" alt="" width="150" border="0" style="width:100%; max-width:150px;height:auto; display:block;">
                            </a>
                        </td>
                    </tr>
                </tbody></table>
                <!-- Content Table Close // -->
            </td>
        </tr>
    </tbody></table>
    <!-- Email Wrapper Header Close //-->

    <!-- Email Wrapper Body Open // -->
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%" class="wrapperBody">
        <tbody><tr>
            <td align="center" valign="top">

                <!-- Table Card Open // -->
                <table border="0" cellpadding="0" cellspacing="0" style="background-color:#FFFFFF;border-color:#E5E5E5; border-style:solid; border-width:0 1px 1px 1px;" width="100%" class="tableCard">

                    <tbody><tr>
                        <!-- Header Top Border // -->
                        <td height="3" style="background-color:#1c6014;font-size:1px;line-height:3px;" class="topBorder">&nbsp;</td>
                    </tr>


                    <tr>
                        <td align="center" valign="top" style="padding-bottom: 20px; padding-top: 20px;" class="imgHero">
                            <!-- Hero Image // -->
                            <a href="#" target="_blank" style="text-decoration:none;">
                                <img src="https://gdl.vn/css/imgs/email-icon.png" width="60" alt="" border="0" style="width:100%; max-width:60px; height:auto; display:block;">
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" style="padding-bottom: 5px; padding-left: 20px; padding-right: 20px;" class="mainTitle">
                            <!-- Main Title Text // -->
                            <h2 class="text" style="color:#000000; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:28px; font-weight:500; font-style:normal; letter-spacing:normal; line-height:36px; text-transform:none; text-align:center; padding:0; margin:0">gdl.vn</h2>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" style="padding-bottom: 30px; padding-left: 20px; padding-right: 20px;" class="subTitle">
                            <!-- Sub Title Text // -->
                            <h4 class="text" style="color:#999999; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:16px; font-weight:500; font-style:normal; letter-spacing:normal; line-height:24px; text-transform:none; text-align:center; padding:0; margin:0">
                                Tin Nhắn Từ "@Model.Name"
                            </h4>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" style="padding-left:20px;padding-right:20px;" class="containtTable ui-sortable">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableTitleDescription">
                                <tbody><tr>
                                    <td align="center" valign="top" style="padding-bottom:10px;" class="mediumTitle">
                                        <!-- Medium Title Text // -->
                                        <p class="text" style="color:#3f4b97; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:18px; font-weight:500; font-style:normal; letter-spacing:normal; line-height:26px; text-transform:none; text-align:center; padding:0; margin:0">
                                            @Model.Name
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center" valign="top" style="padding-bottom:20px;" class="description">
                                        <!-- Description Text// -->
                                        <p class="text" style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:center; padding:0; margin:0">
                                            "@Model.Message"
                                        </p>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>

                    <tr>
                        <td height="20" style="font-size:1px;line-height:1px;">&nbsp;</td>
                    </tr>

                    @* <tr><td align="center" valign="middle" style="padding-bottom: 40px;" class="emailRegards"> *@
                    @*         <!-- Image and Link // --> *@
                    @*         <a href="#" target="_blank" style="text-decoration:none;"> *@
                    @*             <img src="https://i.imgur.com/oj8cKLS.png" alt="" width="150" border="0" style="width:100%;max-width:150px; height:auto; display:block;"> *@
                    @*         </a> *@
                    @*     </td> *@
                    @* </tr> *@
                </tbody></table>
                <!-- Table Card Close// -->

                <!-- Space -->
                

            </td>
        </tr>
    </tbody></table>
    <!-- Email Wrapper Body Close // -->

    <!-- Email Wrapper Footer Open // -->
    <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%" class="wrapperFooter">
        <tbody><tr>
            <td align="center" valign="top">
                <!-- Content Table Open// -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="footer">
                    <tbody><tr>
                        <td align="center" valign="top" style="background-color:#1c6014;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;" class="socialLinks">
                            <!-- Social Links (Facebook)// -->
                            <a href="https://www.facebook.com/YAN.GhienGhiennuaGhienmai/" target="_blank" style="display:inline-block;" class="facebook">
                                <img src="https://gdl.vn/css/imgs/facebook-f.png" alt="" width="40" border="0" style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                            </a>
                            <!-- Social Links (Twitter)// -->
                            <a href="#twitter-link" target="_blank" style="display:inline-block;" class="twitter">
                                <img src="https://gdl.vn/css/imgs/twitter-f.png" alt="" width="40" border="0" style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                            </a>
                            <!-- Social Links (Pintrest)// -->
                            
                            <!-- Social Links (Instagram)// -->
                            <a href="https://www.instagram.com/ghiendalat/" target="_blank" style="display:inline-block;" class="instagram">
                                <img src="https://gdl.vn/css/imgs/instagram-f.png" alt="" width="40" border="0" style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                            </a>
                            <!-- Social Links (Linkdin)// -->
                            <a href="https://www.youtube.com/channel/UCs22rPYKRz2nc-SlrbUpiDw" target="_blank" style="display:inline-block;" class="linkdin">
                                <img src="https://gdl.vn/css/imgs/youtube-f.png" alt="" width="40" border="0" style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="top" style="padding: 10px 10px 5px;" class="brandInfo">
                            <!-- Brand Information // -->
                            <p class="text" style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                                ©&nbsp;Copyright gdl.vn 2021 | 38/6A Nguyen Van Troi, Ward 15, Phu Nhuan District | Ho Chi Minh, VN.
                            </p>
                        </td>
                    </tr>
                    
                    <!-- Space -->
                    
                </tbody></table>
                <!-- Content Table Close// -->
            </td>
        </tr>

        <!-- Space -->
        <tr>
            <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
        </tr>
    </tbody></table>
    <!-- Email Wrapper Footer Close // -->

    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
    </td>
</tr>
</tbody></table>
</div></body></html>